<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!--　　　　　　　　　　　　<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--　　　　　　　　　　　　　　<fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>-->
    <!--　　　　　　　　　　　　　　<maxHistory>30</maxHistory>-->
    <!--　　　　　　　　　　　　</rollingPolicy>-->
        <encoder>
    　　  <pattern>%-4relative %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{100} [%line]  - %msg%n</pattern>
    　　</encoder>
    　</appender>

    　<root level="debug">
    　   <appender-ref ref="STDOUT" />
    　</root>
</configuration>